/*Resetear*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.background-image{
  background-image: url("../assets/imgs/marino.jpg");
  background-repeat: repeat-y;
  background-position: 50% 50%;
}

/*Clases reutilizables*/
.inline-block{
  display: inline;
}
.width{
  width: 90%;
  margin-left: 5%;
}

/* Styles for header*/
header.fixed{
 position: fixed;
 z-index: 1000;
 background-color: #fff;
 margin-top: 0;
 border-radius: 10px;
}
nav.box-header{
 width: 100%;
 position: absolute;
 top: 50%;
 left: 40%;
 transform: translateY(-50%);
}
.inline-block{
  display: inline;
}
figure.width img{
  width: 19%;
  margin-left: 5%;
  margin-top: 0.5%;
}
ul.list-style li{
  list-style: none;
  margin-right: 5%;
}
ul.text-decoration a{
  text-decoration: none;
  color: rgb(17,114,186);
  font-weight: 700;
  font-size: 100%;
}

/*Styles of body*/
/*First section*/
#first-section{
  position: relative;
  top: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
#images-carousel img#imagen{
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
